.imagenCard{
    border-radius: 10px;
}

@media (max-width:560px) {
    .imagenCard{
        width: 90%;
        height: auto;
    }
}
.contenedorCartica{
    margin-left: -80px;
    margin-right: 3px;
    width: 300px;
    height: 410px;
    border-top: 1px solid rgb(243, 243, 6);
    border-bottom: 1px solid rgb(243, 243, 6);
    border-right: 1px solid rgb(243, 243, 6);
    border-left: 1px solid rgb(243, 243, 6);
    border-radius: 20px;
   background: url("https://99px.ru/sstorage/86/2021/03/image_860703211518405113641.gif");
   

   cursor: pointer;
}
.contenedorCartica:hover.contenedorCartica {
    background-color: rgb(159, 208, 14);
    -webkit-transform:scale(1.3);transform:scale(1.1);
}

.textoh3{
    text-decoration: none;
    color: rgb(255, 251, 0);
    width: 150px;
    margin-left: 80px;
    border-radius: 10px;

}

.temperamento{
    text-decoration: none;
    color: rgb(255, 251, 0);
    

    border-radius: 10px;

}

.peso{
    text-decoration: none;
    color: rgb(255, 251, 0);
    

    border-radius: 10px; 
}