  
    .tituloPrincipal{
        display: flex;
        justify-content: center;
        margin-top: 0px;
        font-size: 60px;
        font-weight: 300px;
    }
    .botonimagen{
     
    display:block;
        width:50px;
        height:50px;
        margin-left: 850px;
        margin-top: 50px;
        padding: 10 20 30 40;
        border-radius: 20px;
        border: none;
        background-color: rgb(17, 25, 26);
        cursor: pointer;
       
    }
   .botonimagen:hover{
    background-color: rgb(7, 161, 7); /* Green */
    color: white;
    
   }

   .botonRefres{
     
        width:50px;
        height:50px;
        border-radius: 20px;
        border: none;
        background-color: rgb(17, 25, 26);
        cursor: pointer;
        margin-bottom: 40px;
   }
.botonRefres:hover{
    background-color: rgb(9, 174, 200); /* Green */
    color: white;
   }


   .imagenRefres{
    width:40px;
    height:46px;
    margin-right: 50px;
   }

    .imagenAdd{
    width:35px;
    height:40px;
    
    }

    .BotonRefresh{
        display: flex;
        justify-content: center;
        margin-top: -90px;
    }

    .paginator{
        margin-top: 40px;
    }

    .filtros{
        display: flex;
        justify-content: center;
    }

    .selector{
        display: block;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  color: rgb(0, 0, 0);
  line-height: 1.3;
  padding: .4em 1.4em .3em .8em;
  width: 200px;
  max-width: 100%; 
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 1);
  box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(255, 251, 0);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #d30000 0%,#eaff00 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  cursor: pointer;
    }

    .selector:hover{
        border-color: rgb(70, 0, 0);
    }
    
    .cartarende{
        display: grid;
        grid-template-columns: repeat(auto-fill, 210px);
        list-style: none;
        float: right;
        margin: auto;
        gap: 40px;
        padding: 60px;
        justify-content: center;
        text-align: center;
    }

    @media(max-width:560px){
        .cartarende{
            grid-template-columns:100px
        }
    }
.imagenLogo{
    border-radius: 230px;
    margin-top: -140px;
    height: 120px;
}
   