
  html {
    height: 100%;
  }
  body {   margin: 0;
    padding: 0;
    box-sizing: border-box;}
  
    .paginaPrincipal{
      background:url("https://thumbs.gfycat.com/WetBadFly.webp");
      background-size: auto;
    background-position: center;
    position: absolute; 
    padding: 0;
    height: 100%;
    width: 100vw;
    background-color: rgb(241, 175, 6);
    background-repeat: no-repeat;
    }
  .titulo{
    font-size: 60px;
    margin-left: 30px;
      
}

  
  .botonHome{
    margin-left: 250px;
    margin-top: 150px;
    background-color:rgb(218, 8, 8) ; 
    border: none;
    border-radius: 35px;  
    text-decoration: none;
    cursor: pointer;
    
  }
  .botonHome:hover {
    background-color: rgb(14, 195, 14); /* Green */
    color: white;
  }

  .imagenprincipal{
    display: flex;
    justify-content: center;
    width:95px;
    height:100px;
    cursor: pointer;
  }